.projects-container {
    column-count: 3;
    column-gap: 20px;
  }
  
  /* Project Card */
  .project-card {
    display: inline-block;
    width: 100%;
    height: 500px !important;
    margin-bottom: 20px;
    break-inside: avoid;
    background-color: #eee;
    overflow: hidden;
    /* padding: 10px; */
    border: 0.6rem solid #eee;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  /* .project-card:hover {
    transform: scale(1.05); 
  } */
  
  /* Image Styling */
  .project-card img {
    width: 100%;
    height: 250px;
    object-fit:contain;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Card Body */
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Initially hides half */
    background: #eee;
    backdrop-filter: blur(5px);
    /* padding: 15px; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    color: black;
    transition: transform 0.5s ease-in-out;
    transform: translateY(50%);
  }
  
  /* Hover Effect */
  /* .project-card:hover img {
    transform: translateY(-50%); 
  } */
  .view-content{
    height: 250px;
    border-bottom: 1px solid rgb(175, 175, 179);
  }
.tech-stack-view{
    height: 250px;
    /* border: 1px solid black; */
}

  .project-card:hover .card-body {
    transform: translateY(0); /* Reveals full card body */
  }
  
  /* Card Title */
  .card-title {
    font-weight: bold;
    font-size: 18px;
    /* text-align: center; */
  }
  
  /* Card Text */
  .card-text {
    font-size: 14px;
    padding: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .projects-container {
      column-count: 1;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .projects-container {
      column-count: 2;
    }
  }
  .projects-buttons{
    position: absolute !important;
    bottom: 0;
    width: 100% !important;
  }
  .project-button{
    border: 1px solid  #0cb048 !important;
    color: black !important;
    border-radius: 0px !important;
    background-color: #0cb048;
    height: 3rem !important;
  }
  .cards-description{
    height: 50%;
    display: flex !important;
    align-items: center;
  }
 .card-content{
    height: 50%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
 }
 .tech-stack-list{
    list-style: none;
  padding: 0;
  margin: 0;

 } 
 .tech-stack-list li{
    border: 0px !important;
 }
