.hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Make the hero image sticky */
.hero-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Glass effect overlay */
.glass-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(79, 98, 127, 0.5);
    z-index: 0;
}

/* Dark overlay */
.overlay-dark-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(34, 38, 50, 0.4);
    z-index: 0;
}
.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: rgba(34, 38, 50, 0.4); */
    z-index: 0;
}

/* Hero content */
.hero-content {
    position: relative;
    padding-left: 25rem;
    max-width: fit-content;
    color: white;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

/* Styling adjustments */
.color {
    color: var(--text-color2);
}
