.Cv-card{
    width: 60% !important;
    position: relative;
    left: 20%;
    height: 30rem !important;
    top: -15rem !important;
    background-color:var(--bg-color) !important ;
    border-radius: 0px !important;
    border: none !important;
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: whitesmoke !important;
}
.Cv-button{
    border: 1px solid  var(--text-color2) !important;
    color: var(--text-color2)  !important;
    border-radius: 0px !important;
}
.Cv-button:hover{
    /* background-color: #009bee  !important; */
    color: black !important;
    /* background-color: #04ffc4  !important; */
    background-image: var(--gradient-bg1) !important;
}
.card-heading{
    color: var(--text-color2) ;
    font-family: "Didot", "Modern No. 20", serif;
}
.Zindex{
    z-index: 999 !important;
}