@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  /* font-family: poppins, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    --text-color2:#04ffc4 ;
    --text-color1:#009bee;
    --bg-color:rgba(51, 59, 80,1);  
    --gradient-bg1: linear-gradient(145deg,  #009bee,#04ffc4);
    --gradient-bg2: linear-gradient(145deg, #04ffc4, #009bee);
    --gradient-bg3: linear-gradient(45deg, #28e46d, rgb(7, 207, 237));
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-dark: #171717;
  --text-light: #ffffff;
  --text-bold: #0cb048;
  --bg-light: #f8f8f8;
  --card-bg: #333b50;
  --text-dark: #000000;
  --glassy-tint: #707a8a;
  --footer-color: #98a0b0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
body{
  background-color: transparent !important;
  color: aliceblue;
}
*{
  font-family: 'poppins';
}

body, html {
  margin: 0;
  padding: 0;
}
