@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  /* font-family: poppins, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-dark: #171717;
  --text-light: #ffffff;
  --text-bold: #0cb048;
  --bg-light: #f8f8f8;
  --card-bg: #333b50;
  --text-dark: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
body{
  background-color: transparent !important;
  color: aliceblue;
}
*{
  font-family: 'poppins';
}

body, html {
  margin: 0;
  padding: 0;
}
