.nav{
    background-color: rgba(51, 59, 80,1) !important;
}
/* Nav.css */
.navbar .container-fluid {
    position: relative;
  }
  
  .navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  /* Ensure mobile responsiveness */
  @media (max-width: 991px) {
    .navbar-collapse {
      position: static;
      transform: none;
    }
  }
  .navbar-brand{
    background-image: linear-gradient(45deg, #0cb048, rgb(7, 207, 237));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  /* Optional: make text bold to show gradient better */
    font-weight: bold;
  }
  .navbar-brand:hover{
    background-image: linear-gradient(45deg, #0cb048, rgb(7, 207, 237)) !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .navbar-brand:focus{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .active{
    color: #0cb048 !important;
  }
  .nav-link{
    color: gray;
  }
  .nav-link:hover{
    color: white;
  }
  .nav-link:focus{
    color: white;
  }